<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="/styling/header.css">
    <link rel="stylesheet" type="text/css" href="/styling/cart.css">
    <script  type="module"  src="js/cart.js"></script>
    <script type="text/javascript" src="js/lib/purify.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
  </head>
  <body>


    <div class="topnav">
      <nav>
        <% if(!isAuthenticated) { %>
          <a href="/login/">Login</a>
        <% } else { %>
          <a href="/logout/">Logout</a>
          <a href="/">Home </a>
          <div id="profileInfo">
            <p class="name">
              <%= user.nickname.charAt(0).toUpperCase() + user.nickname.slice(1) %>
            </p>
            <img src="<%= user.picture %>" id="img">
          </div>
        <% } %>
      </nav>
    </div>

    <h1><%= title %></h1>
    <h2 id="cartTotal"></h2>
    <h2 id="notification"></h2>

    <section class="productSection">
      <section class="row" id="productRow">
      </section>
    </section>


   </body>
</html>