<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="/styling/home.css">
    <link rel="stylesheet" type="text/css" href="/styling/header.css">
    <script  type="module"  src="js/home.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
  </head>
  <body>


    <div class="topnav">
      <nav>
        <% if(!isAuthenticated) { %>
          <a href="/login/">Login</a>
        <% } else { %>
          <a href="/logout/">Logout</a>
          <a href="/cart">Cart </a>
          <div id="profileInfo">
            <p class="name">
              <%= user.nickname.charAt(0).toUpperCase() + user.nickname.slice(1) %>
            </p>
            <img src="<%= user.picture %>" id="img">
          </div>
        <% } %>
      </nav>
    </div>

    <h1><%= title %></h1>
    <% if (!isAuthenticated) { %>
      <h2>Log in to start your online shopping experience</h2>
    <% } else { %>
      <section class="productSection">
        <span>
          <input type="text" id="productSearch" placeholder="Search Product">
          <button id="searchButton"><i class="fa fa-search" aria-hidden="true"></i></button>
          <h2 id="information"></h2>
        </span>
        
        <section class="row" id="productsRow"></section>
      </section>
    <% } %>

   </body>
</html>