
body{
  font-family: 'Courier New', Courier, monospace;
}

h1{
  margin-left: 2em;
}

h2{
  margin-left: 2.5em;
}


h2{
  color: blueviolet;
}

.productSection{
  
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 2em;
  background-color: #f1f1f1;
  min-height: 22em;
  max-height: 22em;
}

.card .productImg{
  width: -webkit-fill-available;
  margin: -2em -2em 0 -2em;
}

.card .cartImg{
  width: 2em;
  cursor: pointer;
}

.cardHeading{
  word-wrap: break-word;
  font-size: medium;
  font-weight: bold;
}

.cardPrice{
  text-align: right;
  color: gray;
}

.cardQuantity{
  text-align: right;
  color: gray;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 20%;
  padding: 0 10px;
  margin-bottom: 1em;
}

.row {margin: 0 -5px;}

.row:after {
  content: "";
  display: table;
  clear: both;
}


@media only screen and (max-width: 900px) {
  .column {
    width: 25%;
  }
}


@media only screen and (max-width: 700px) {
  .column {
    width: 50%;
  }

  .card{
    max-height: 25em;
  }
}

@media only screen and (max-width: 600px) {
  .column {
    width: 100%;
    
  }

  .card{
    max-height: 30em;
  }
}


.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 150%;
  left: 50%;
  margin-left: -60px;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}